
# Android / Gradle
.gradle/
**/.cxx/
**/build/
app/build/

# IDE
.idea/
*.iml

# Local machine config
local.properties
*.keystore

# Logs / cache
*.log

*.apk
app/src/main/cpp/tests/build/
app/src/main/cpp/tests/build-asan/
app/src/main/cpp/tests/build-tsan/
